<div class="header">Company Information</div>
<div class="bg-accent" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="bg-accent container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px"
        fxFlex.gt-md="50%">
        <img class="logo" src='./../assets/images/logo.png'>
        <button mat-flat-button color="accent">All Courses</button>
        <div fxFlex></div>
        <button mat-flat-button color="accent">Sign In</button>
        <button mat-flat-button>Sign Up</button>
    </mat-card>
</div>
<router-outlet></router-outlet>
<div class="bg-accent footer"></div>