.container {
    max-width: 600px;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: black;
    margin: 50px;
}

.title {
    margin-bottom: 50px;
}

h3 {
    padding: 20px;
}