@use '~@angular/material' as mat;
@include mat.core();

@mixin customClasses($primary, $accent,$warn) {
    .bg-accent {
        background-color: mat.get-color-from-palette($accent, default) !important;
        color: mat.get-color-from-palette($accent, default-contrast) !important;
    }
    .bg-warn {
        background-color: mat.get-color-from-palette($warn, default) !important;
        color: mat.get-color-from-palette($warn, default-contrast) !important;
    }
}

$color-primary: mat.define-palette(mat.$green-palette, 800);
$color-accent:mat.define-palette(mat.$green-palette, 100);
$color-warn:mat.define-palette(mat.$red-palette);
$theme:mat.define-light-theme((
    color:(
        primary:$color-primary,
        accent:$color-accent,
        warn:$color-warn
    )
));

@include mat.all-component-themes($theme);
@include customClasses($color-primary,$color-accent,$color-warn);
